.times-details {
  margin-top: 5px;
  margin-bottom: 15px;
}

button.ui.run-simu {
  margin-top: 10px;
  margin-bottom: 10px;
}

.opt-content {
  .inputs {
    display: flex;
    flex-direction: column;
    .ui.input {
      margin-bottom: 10px;
      width: fit-content;
    }
  }
}
