$spacer: 1em;

.mb-1 {
  margin-bottom: $spacer * .25 !important;
}
.mb-2 {
  margin-bottom: $spacer * .50 !important;
}
.mb-3 {
  margin-bottom: $spacer !important;
}
.mb-4 {
  margin-bottom: $spacer * 1.5 !important;
}
.mb-5 {
  margin-bottom: $spacer * 3 !important;
}

.mr-1 {
  margin-right: $spacer * .25 !important;
}
.mr-2 {
  margin-right: $spacer * .50 !important;
}
.mr-3 {
  margin-right: $spacer !important;
}
.mr-4 {
  margin-right: $spacer * 1.5 !important;
}
.mr-5 {
  margin-right: $spacer * 3 !important;
}
